body {
    backround: url("https://cdn-images-1.medium.com/max/2000/1*Mg4APE3ytrhboP45DXkVcA.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
