<html>
<title> listentothis.datapor.no </title>
    <head>
        <script src="{{ url_for('static', filename='dataporno.css') }}"></script>
    </head>

<!-- Hello code Lurkers/ Bug Hunter... gtfo -->

<body>
        <h1> listentothis.datapor.no  </h1>
    <center>
        <h2>{{yt_name}}</h2>
        <p> WtF is this?. This is just a simple site that will get id's from the subreddit /r/listentothis and play it in a
        somewhat random order... kek. </p>
        <p> the site is work in progress, so if it happend to not display a random song or music video, do not panic, just give
        it a samll whack or a refresh and it migth work again ;) </p>
        <div id="player">
            <script src="http://www.youtube.com/player_api"> </script>
            <script>
            
            // create youtube player
            var player;
            function onYouTubePlayerAPIReady() {
                player = new YT.Player('player', {
                  height: '480',
                  width: '835',
                  videoId: '{{ yt_id }}',
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                  }
                });
            }

            // autoplay video
            function onPlayerReady(event) {
                event.target.playVideo();
            }

            // when video ends
            function onPlayerStateChange(event) {        
                if(event.data === 0) {            
                    location.reload(true);;
                }
            }
        </script>
        </div>
    </center>
</body>
</html>
